<!DOCTYPE html>
<html>
<head>
	<title> Login </title>
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href=  "{% static 'newlogin.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
<script>
function wrong()
{
alert("username or password not match");
}
</script>
</head>
<body>
{% if is_alert %}
<script>
wrong()
</script>
{% endif %}
       <div class="signin">
       	<form action = "{% url 'cloneapp:login' %}"  method = post>
       	{% csrf_token %}
       		<h2 style="color:white">login</h2>
       		
       		
       		<input type="text" name="username" placeholder="Username"></input>
       		<input type="password" name="password" placeholder="password"></input><br><br>
       		<input type="submit" value="Log In"><input><br><br>
       		
       		
       		Don't have account?<a href="{% url 'cloneapp:signin' %}">&nbsp; Sign Up</a>
       		<br>
       		<a href = "../start/">go back</a>
       		
</form>

       </div>
       
</body>
</html>


