<!DOCTYPE html>
<html>
<head>
	<title> Login </title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href=  "{% static 'newlogin.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
<script>
function wrong()
{
alert("invalid data");
}
</script>
</head>
<body>
{% if is_alert %}
<script>
wrong()
</script>
{% endif %}
       <div class="signin">
       	<form  action = "{% url 'cloneapp:First' %}"  method = post> {% csrf_token %}
       	
       		<h2 style="color:white">Sign up</h2>
       		{{ form.as_p }}
       		<input type="submit" value="sign up"><br><br>
       		<a href = "../start/">go back
       		 


       	</form>
       </div>
</body>
</html>
