<!DOCTYPE html>
<html lang="en" lang="hi">
    <head>
        <title>GetNotes</title>
        <meta charset="utf-8">
        <meta name="viewport"  content="width=device-width,initial-scale=1.0,user-scalable=yes">
{% load staticfiles %}
<link rel = "stylesheet" type="text/css" href = "{% static 'style.css' %}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
          <div id="container">
          <div id="header">
            <div id="logo"> 
                <p> GetNotes </p>
              </div>
                <div class="middle">
			
			<a href="https://www.facebook.com/groups/GetNotes/" class="btn" >
				<i class="fa fa-facebook"></i>
			</a>
			<a href="https://twitter.com/notes_get" class="btn">
				<i class="fa fa-twitter"></i>
			</a>
			<a href=""  title = "getnotes2020@gmail.com" class="btn">
				<i class="fa fa-google"></i>
			</a>
               <div class="clear"></div> 
              </div>
              
        <div id="menu">
                 <ul>
                     <li> <a href="#"> Home </a></li>
                     <li> <a href="../form/">  Teacher Login </a></li>
                     <li> <a href="../form2/"> Student Login </a></li>
                     <li> <a href="../signin/"> New Students </a></li>
                  </ul>
             
           
           
           </div>
                 
          </div>
        </div>
    </body>
    
</html>
